@import "../../App.scss";
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--mainWhite);
  font-weight: bold;
  font-size: 18px;
  transition: var(--mainTransition);
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: var(--primaryColor);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: var(--mainBlack);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--darkGrey);
  border-radius: 50%;
  display: inline-block;
  transition: var(--mainTransition);
}

.active,
.dot:hover {
  background-color: var(--primaryColor);
}
